@import "tailwindcss";
@import "tw-animate-css";

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --alt-bg: oklch(0.2562 0 0);
  --surface-sunken: var(--surface-sunken);
  --big-surface: var(--big-surface);
  --inverse-iron-subtle: var(--inverse-iron-subtle);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  @apply inline;
  --surface-sunken: oklch(0.2308 0 0);
  --radius: 0.625rem;
  --inverse-iron-subtle: oklch(0.3171 0 0);
  --big-surface: oklch(0.2686 0 0);
  --background: oklch(0.2686 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(0.3171 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);

  --color-light-text-bold: oklch(27.16% 0.041 279.57);
  --color-light-text-subtle: oklch(29.52% 0.018 279.67);
  --color-light-text-disabled: oklch(44.95% 0.003 279.83);
  --color-light-text-inverse-disabled: oklch(100% 0 0);
  --color-light-text-inverse: oklch(100% 0 0);
  --color-light-text-inverse-subtle: oklch(44.95% 0.003 279.83);
  --color-light-text-link: oklch(53.01% 0.217 34.18);
  --color-light-text-link-hover: oklch(46.59% 0.236 33.92);
  --color-light-text-link-active: oklch(39.73% 0.238 34.1);
  --color-light-text-brand-strong: oklch(53.01% 0.217 34.18);
  --color-light-text-brand: oklch(52.13% 0.198 34.1);
  --color-light-text-success: oklch(64.81% 0.172 149.16);
  --color-light-text-danger: oklch(38.49% 0.234 19.56);
  --color-light-text-warning: oklch(74.25% 0.191 78.69);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --surface-sunken: oklch(0.2308 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);

  --color-dark-text-bold: oklch(100% 0 0);
  --color-dark-text-subtle: oklch(93.01% 0.008 279.98);
  --color-dark-text-disabled: oklch(74.39% 0.005 279.68);
  --color-dark-text-inverse-disabled: oklch(7.78% 0.003 279.68);
  --color-dark-text-inverse: oklch(7.78% 0.003 279.68);
  --color-dark-text-inverse-subtle: oklch(56.67% 0.004 279.74);
  --color-dark-text-link: oklch(88.75% 0.142 29.89);
  --color-dark-text-link-hover: oklch(91.26% 0.152 29.6);
  --color-dark-text-link-active: oklch(96.53% 0.107 29.6);
  --color-dark-text-brand-strong: oklch(88.75% 0.142 29.89);
  --color-dark-text-brand: oklch(77.49% 0.134 30.12);
  --color-dark-text-success: oklch(72.15% 0.156 149.15);
  --color-dark-text-danger: oklch(66.34% 0.164 29.17);
  --color-dark-text-warning: oklch(83.41% 0.166 78.48);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  background-color: var(--big-surface);
}
